@use '../../styles/color.scss';

.register-wrapper {
  width: 100vw;
  height: 100vh;
  background: color.$bg-orange-color;

  #register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 24px 24px 0;
    border: 1px solid color.$border-main-color;
    border-radius: 4px;
  }
}
