.todo-layout {
  header {
    padding: 0;

    .logo {
      width: 100px;
      padding-left: 15px;
    }
  }

  .header {
    display: flex;
    color: #fff;
    height: 64px;
    line-height: 64px;
    background: #8db0c4;

    .logo {
      font-size: 16;
      font-weight: 600;
    }
  }

  .content-layout {
    width: 100%;
    height: calc(100vh - 129px);
    background: #f5f5d5;

    .menu-side-bar {
      flex: initial !important;
      max-width: 300px !important;
      width: 300px !important;
      height: calc(100vh - 129px);
      text-align: left;
      color: #000;
      background: #f5f5d5;
      border-right: 1px solid #fff;
    }

    .content-wrapper {
      flex: 1;
    }
  }

  .footer {
    text-align: center;
    color: #fff;
    background: #8db0c4;
  }
}

.global-search-wrapper {
  flex: 1 1 0;
  text-align: center;

  .ant-input-affix-wrapper {
    width: 500px;
  }
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding: 0 15px;
  list-style: none;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 8px 0;
  cursor: pointer;

  .ant-checkbox-wrapper {
    margin: 0 20px;
  }

  .content {
    flex: 1;

    .tags {
      display: flex;

      & > div:not(:last-child):after {
        content: '\2022';
        margin: 0 6px;
        color: #605e5c;
      }

      .my-day-sign,
      .task-sign,
      .due-date-sign,
      .reminder-sign,
      .attachment-sign,
      .color-sign {
        display: flex;
        align-items: center;
        column-gap: 2px;
      }
    }

    &.completed {
      .text {
        text-decoration: line-through;
      }
    }
  }

  .anticon {
    &.important-blue-icon {
      justify-content: center;
      margin-right: 20px;
    }
  }
}

.addition-wrapper {
  padding: 15px;

  .addition-content {
    display: flex;
    width: 100%;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
  }

  .add-btn {
    padding: 6px;
    text-align: right;
    background: #faf9f8;

    button {
      padding: 4px 10px;
    }
  }

  .anticon-plus {
    margin-right: 8px;
  }

  .ant-input {
    flex: 1 1 0;
    border: none;
    outline: none;
    background: inherit;

    &:focus {
      box-shadow: none;
    }
  }
}

.color-sign .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  margin: 2px 4px 0px;
}

.todo-completed-wrapper {
  .dropdown-btn {
    display: inline-flex;
    margin: 15px;
  }

  .dropdown-btn .anticon-down.down svg {
    transform: rotate(0);
  }

  .dropdown-btn .anticon-down.up svg {
    transform: rotate(180deg);
  }

  .dropdown-btn .completed-label {
    margin: 0;
    margin-left: 12px;
  }

  .dropdown-btn .completed-list-num {
    margin: 0;
    margin-left: 12px;
  }
}

.ant-menu-submenu > .ant-menu .ant-menu-item {
  display: flex !important;
  align-items: center;
}

.ant-drawer-content {
  &.todo-drawer {
    background: #faf9f8;

    .subject-operation,
    .add-step,
    .stepssubject-operation,
    .edited-step,
    .ant-input-affix-wrapper {
      flex: 1;
      border: none;
      border-bottom: 1px solid #edebe9;
      border-radius: 0;
      padding: 0;
    }

    .subject-operation,
    .add-step,
    .steps,
    .edited-step,
    .ant-input-affix-wrapper:focus-within {
      box-shadow: none;
    }

    .subject-operation,
    .add-step,
    .steps,
    .edited-step,
    .ant-input-affix-wrapper,
    .ant-input {
      line-height: 32px;
    }

    .subject-operation {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 16px;

      .content-area {
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin-bottom: 16px;

        .content {
          flex: 1;

          &.completed {
            text-decoration: line-through;
          }
        }
      }

      .add-step {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .steps {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          width: 100%;

          .edited-step {
            display: flex;
            column-gap: 8px;
          }
        }

        .new-step {
          display: flex;
          column-gap: 8px;
          padding-top: 8px;
          width: 100%;

          .ant-input {
            padding: 0;
            line-height: 32px;
            border: none;
            outline: none;
          }
        }
      }
    }

    .added-to-my-day {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .text {
        flex: 1;

        &.added {
          color: #2564cf;
        }
      }
    }

    .added-to-my-day,
    .pick-a-category,
    .add-file,
    .add-note {
      margin: 8px 0;
      padding: 16px;
      background: #fff;
    }

    .date-reminder {
      .remind-me,
      .add-due-date,
      .repeat {
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 16px;
        background: #fff;

        .notice-text {
          display: flex;
          flex-direction: column;
          flex: 1;
        }

        .time-text.setted {
          color: #2564cf;
        }
      }

      .remind-me {
        .day-text {
          font-size: 12px;
          color: #605e5c;
        }
      }
    }

    .pick-a-category,
    .add-file {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    .add-file {
      .ant-upload-list-item-container {
        max-width: 270px;
      }
    }
  }
}

.reminder-dropdown,
.due-date-dropdown {
  width: 250px;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;

  .title {
    line-height: 32px;
    text-align: center;
  }

  .custom-pick {
    line-height: 50px;
    padding: 0 15px 5px 20px;
  }
}

.reminder-dropdown .reminder-quickshort,
.due-date-dropdown .due-date-quickshort {
  padding: 0 15px 0 20px;
  cursor: pointer;
}
