.todo-layout header {
  padding: 0;
}

.todo-layout header .logo {
  width: 100px;
  padding-left: 15px;
}

.global-search-wrapper {
  flex: 1 1 0;
  text-align: center;
}

.global-search-wrapper .ant-input-affix-wrapper {
  width: 500px;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding: 0 15px;
  list-style: none;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 8px 0;
  cursor: pointer;
}

.addition-wrapper {
  padding: 15px;
}

.addition-wrapper .addition-content {
  display: flex;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}

.addition-wrapper .add-btn {
  padding: 6px;
  text-align: right;
}

.addition-wrapper .anticon-plus {
  margin-right: 8px;
}

.addition-wrapper .ant-input {
  flex: 1 1 0;
  border: none;
  outline: none;
  background: inherit;
}

.addition-wrapper .ant-input:focus {
  box-shadow: none;
}

.todo-item .ant-checkbox-wrapper {
  margin: 0 20px;
}

.todo-item .content {
  flex: 1;
}

.todo-item .content .tags {
  display: flex;
  column-gap: 8px;
}

.todo-item .content .todo-item .content.completed .text {
  text-decoration: line-through;
}

.my-day-sign {
  display: flex;
  align-items: center;
}

.todo-item .anticon-star {
  justify-content: center;
  margin-right: 20px;
}

.todo-layout .header {
  display: flex;
  color: #fff;
  height: 64px;
  line-height: 64px;
  background: #7dbcea;
}

.todo-layout .header .logo {
  font-size: 16;
  font-weight: 600;
}

.todo-layout .content-layout {
  width: 100%;
  height: calc(100vh - 129px);
  background: #f5f5d5;
}

.todo-layout .content-layout .menu-side-bar {
  flex: initial !important;
  max-width: 300px !important;
  width: 300px !important;
  height: calc(100vh - 129px);
  text-align: left;
  color: #fff;
  background: #3ba0e9;
}

.todo-layout .content-layout .content-wrapper {
  flex: 1;
}

.todo-layout .footer {
  text-align: center;
  color: #fff;
  background: #7dbcea;
}

.todo-completed-wrapper .dropdown-btn {
  display: inline-flex;
  margin: 15px;
}

.todo-completed-wrapper .dropdown-btn .anticon-down.down svg {
  transform: rotate(0);
}

.todo-completed-wrapper .dropdown-btn .anticon-down.up svg {
  transform: rotate(180deg);
}

.todo-completed-wrapper .dropdown-btn .completed-label {
  margin: 0;
  margin-left: 12px;
}

.todo-completed-wrapper .dropdown-btn .completed-list-num {
  margin: 0;
  margin-left: 12px;
}

.ant-menu-submenu > .ant-menu .ant-menu-item {
  display: flex !important;
  align-items: center;
}

.ant-drawer-content.todo-drawer {
  background: #faf9f8;
}

.todo-drawer .subject-operation {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
}

.todo-drawer .subject-operation .content-area {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;
}

.todo-drawer .subject-operation .add-step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-drawer .subject-operation .add-step .steps {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}

.todo-drawer .subject-operation .add-step .new-step {
  display: flex;
  column-gap: 8px;
  padding-top: 8px;
  width: 100%;
}

.todo-drawer .subject-operation .add-step .new-step .ant-input {
  padding: 0;
  line-height: 32px;
  border: none;
  outline: none;
}

.todo-drawer .subject-operation .add-step .steps .edited-step {
  display: flex;
  column-gap: 8px;
}

.todo-drawer
  .subject-operation
  .add-step
  .steps
  .edited-step
  .ant-input-affix-wrapper {
  flex: 1;
  border: none;
  border-bottom: 1px solid #edebe9;
  border-radius: 0;
  padding: 0;
}

.todo-drawer
  .subject-operation
  .add-step
  .steps
  .edited-step
  .ant-input-affix-wrapper:focus-within {
  box-shadow: none;
}

.todo-drawer
  .subject-operation
  .add-step
  .steps
  .edited-step
  .ant-input-affix-wrapper
  .ant-input {
  line-height: 32px;
}

.todo-drawer .subject-operation .content-area .content {
  flex: 1;
}

.todo-drawer .subject-operation .content-area .content.completed {
  text-decoration: line-through;
}

.todo-drawer .added-to-my-day {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.todo-drawer .added-to-my-day .text {
  flex: 1;
}

.todo-drawer .added-to-my-day .text.added {
  color: #2564cf;
}

.todo-drawer .added-to-my-day,
.todo-drawer .pick-a-category,
.todo-drawer .add-file,
.todo-drawer .add-note {
  margin: 8px 0;
  padding: 16px;
  background: #fff;
}

.todo-drawer .date-reminder .remind-me,
.todo-drawer .date-reminder .add-due-date,
.todo-drawer .date-reminder .repeat {
  display: flex;
  align-items: center;
  padding: 16px;
  background: #fff;
}
