.todo-layout header {
  padding: 0;
}

.todo-layout header .logo {
  width: 100px;
  padding-left: 15px;
}

.global-search-wrapper {
  flex: 1 1 0;
  text-align: center;
}

.global-search-wrapper .ant-input-affix-wrapper {
  width: 500px;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding: 0 15px;
  list-style: none;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 8px 0;
}

.addition-wrapper {
  padding: 15px;
}

.addition-wrapper .addition-content {
  display: flex;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}

.addition-wrapper .add-btn {
  padding: 6px;
  text-align: right;
}

.addition-wrapper .anticon-plus {
  margin-right: 8px;
}

.addition-wrapper .ant-input {
  flex: 1 1 0;
  border: none;
  outline: none;
  background: inherit;
}

.addition-wrapper .ant-input:focus {
  box-shadow: none;
}

.todo-item .ant-checkbox-wrapper {
  margin: 0 20px;
}

.todo-item .content {
  flex: 1;
}

.todo-item .content .tags {
  display: flex;
  column-gap: 8px;
}

.todo-item .content .todo-item .content.completed .text {
  text-decoration: line-through;
}

.my-day-sign {
  display: flex;
  align-items: center;
}

.todo-item .anticon-star {
  justify-content: center;
  margin-right: 20px;
}

.todo-layout .header {
  display: flex;
  color: #fff;
  height: 64px;
  line-height: 64px;
  background: #7dbcea;
}

.todo-layout .header .logo {
  font-size: 16;
  font-weight: 600;
}

.todo-layout .content-layout {
  width: 100%;
  height: calc(100vh - 129px);
  background: #f5f5d5;
}

.todo-layout .content-layout .menu-side-bar {
  flex: initial !important;
  max-width: 300px !important;
  width: 300px !important;
  height: calc(100vh - 129px);
  text-align: left;
  color: #fff;
  background: #3ba0e9;
}

.todo-layout .content-layout .content-wrapper {
  flex: 1;
}

.todo-layout .footer {
  text-align: center;
  color: #fff;
  background: #7dbcea;
}

.todo-completed-wrapper .dropdown-btn {
  display: inline-flex;
  margin: 15px;
}

.todo-completed-wrapper .dropdown-btn .anticon-down.down svg {
  transform: rotate(0);
}

.todo-completed-wrapper .dropdown-btn .anticon-down.up svg {
  transform: rotate(180deg);
}

.todo-completed-wrapper .dropdown-btn .completed-label {
  margin: 0;
  margin-left: 12px;
}

.todo-completed-wrapper .dropdown-btn .completed-list-num {
  margin: 0;
  margin-left: 12px;
}

.ant-menu-submenu > .ant-menu .ant-menu-item {
  display: flex !important;
  align-items: center;
}
