.header-menu-wrapper {
  padding-right: 15px;
}

.header-menu-wrapper .home-url {
  margin-right: 8px;
}

.header-menu-wrapper .avater-dropdown {
  margin-right: 8px;
  cursor: pointer;
}

.ant-menu {
  max-height: 500px !important;
}