.sider-bar-wrapper .ant-space-item:nth-child(1) {
  margin-top: 8px;
}

.shortcut-menu {
  width: 100%;
  line-height: 1;
}

.shortcut-menu .ant-btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 0 20px;
  border: none;
}

.shortcut-menu .ant-btn .ant-btn-icon {
  margin-inline-end: 10px;
}

.shortcut-menu .ant-btn .number {
  margin-left: auto;
}

.shortcut-menu .ant-btn .today-icon {
  font-size: 18px;
}
.shortcut-menu .ant-btn .important-icon {
  font-size: 18px;
}
.shortcut-menu .ant-btn .planned-icon {
  font-size: 18px;
}
.shortcut-menu .ant-btn .assigned-icon {
  font-size: 18px;
}
.shortcut-menu .ant-btn .tasks-icon {
  font-size: 18px;
}

.sider-bar-wrapper .ant-space-item .list-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.sider-bar-wrapper .ant-space-item:nth-child(7) {
  height: calc(100vh - 384px);
  padding: 0 20px;
  overflow: auto;
  padding-bottom: 10px;
}

.sider-bar-wrapper .ant-space-item:nth-child(7) {
  position: relative;
}

.sider-bar-wrapper .ant-tree-node-content-wrapper {
  white-space: nowrap;
}

.add-list-wrapper {
  display: flex;
  padding-left: 15px;
}

.add-list-wrapper .add-icon {
  margin-right: 5px;
}

.add-list-wrapper .ant-input {
  border: none;
  outline: none;
  background: inherit;
  border-radius: 0;
}

.add-list-wrapper .ant-input:focus {
  box-shadow: none;
}

.other-list .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 32px;
  cursor: pointer;
}

.other-list .list-item .icon-text {
  display: flex;
  align-items: center;
  flex: 1;
}

.other-list .list-item .icon-text .text {
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.other-list .list-item .edit-list-name {
  padding: 0 10px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  border: none;
  background: inherit;
}
