@use '@styles/color.scss';
@use '@styles/common.scss';

.sider-bar-wrapper {
  .ant-tree-node-content-wrapper {
    white-space: nowrap;
  }

  .ant-space-item {
    &:nth-child(1) {
      margin-top: 8px;
    }

    &:nth-child(7) {
      position: relative;
      height: calc(100vh - 384px);
      padding: 0 20px;
      overflow: auto;
      padding-bottom: 10px;
    }

    .shortcut-menu {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: left;
      color: color.$color-main-black;
      padding: 0 20px;
      border: none;

      .ant-btn {
        padding: 0;
        color: color.$color-main-black;
      }
    }

    .other-list {
      .list-item {
        @include common.vertical-center;
        justify-content: space-between;
        line-height: 32px;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

        @include common.hover {
          color: #c89541;
        }

        .icon-text {
          @include common.vertical-center;
          flex: 1;

          .text {
            width: 230px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 10px;
          }
        }

        .edit-list-name {
          padding: 0 10px;
          border-radius: 0;
          outline: none;
          box-shadow: none;
          border: none;
          background: inherit;
        }
      }
    }

    .add-list-wrapper {
      display: flex;
      padding-left: 15px;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

      @include common.hover {
        background: #dab590;
      }

      .ant-input {
        border: none;
        outline: none;
        background: inherit;
        border-radius: 0;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
