.sider-bar-wrapper .ant-space-item:nth-child(1) {
  margin-top: 8px;
}

.shortcut-menu {
  width: 100%;
  line-height: 1;
}

.shortcut-menu button {
  display: inline-flex;
  align-items: center;
  width: 100%;
  text-align: left;
  color: #fff;
}

.shortcut-menu button .today-icon {
  font-size: 18px;
}
.shortcut-menu button .important-icon {
  font-size: 18px;
}
.shortcut-menu button .planned-icon {
  font-size: 18px;
}
.shortcut-menu button .assigned-icon {
  font-size: 18px;
}
.shortcut-menu button .tasks-icon {
  font-size: 18px;
}

.sider-bar-wrapper .ant-space-item .list-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  line-height: 1;
  padding-left: 8px;
}

.sider-bar-wrapper .ant-space-item:nth-child(7) {
  height: calc(100vh - 377px);
  max-width: 280px;
  padding: 0 10px;
  overflow: auto;
  padding-bottom: 10px;
}

.sider-bar-wrapper .ant-space-item:nth-child(7) {
  position: relative;
}

.sider-bar-wrapper .ant-tree-node-content-wrapper {
  white-space: nowrap;
}

.add-file-list-wrapper {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: calc(100% - 15px);
  line-height: 30px;
  cursor: pointer;
}

.add-file-list-wrapper .add-icon {
  margin-right: 5px;
}